
.popup .modal-content{
    background-color: #f8d7a4 !important;
    color: #661a06 !important;
    border: #661a06 2px solid !important;
}

.menuImg {
    width: 80%;
}

.specialText {
    background-color: #f8d7a4 !important;
    border: #661a06 2px solid !important;
    color: #661a06 !important;
}


.popover {
    background-color: #f8d7a4 !important;
    color: #661a06 !important;
    border: #661a06 2px solid !important;
}

.popoverHeader {
    background-color: #f8d7a4 !important;
    color: #661a06 !important;
    /*border: #661a06 2px solid !important;*/
}